@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}



/* spinner */
.containerSpinner {
  --uib-size: 35px;
  --uib-color: #1178a5;
  --uib-speed: 1.5s;
  --uib-bg-opacity: 0.08;
  --uib-stroke-width: 3px;
  height: var(--uib-size);
  width: var(--uib-size);
  transform-origin: center;
  animation: rotate var(--uib-speed) linear infinite;
  will-change: transform;
  overflow: visible;
}

.car {
  fill: none;
  stroke: var(--uib-color);
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-width: var(--uib-stroke-width);
  stroke-linecap: round;
  animation: stretch calc(var(--uib-speed) * 0.75) ease-in-out infinite;
  will-change: stroke-dasharray, stroke-dashoffset;
  transition: stroke 0.5s ease;
}

.track {
  fill: none;
  stroke: var(--uib-color);
  stroke-width: var(--uib-stroke-width);
  opacity: var(--uib-bg-opacity);
  transition: stroke 0.5s ease;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes stretch {
  0% {
    stroke-dasharray: 0, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 75, 150;
    stroke-dashoffset: -25;
  }
  100% {
    stroke-dashoffset: -100;
  }
}

.custom_scrollbar::-webkit-scrollbar {
  width: 18px;
  height: 18px;
}

.custom_scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.custom_scrollbar::-webkit-scrollbar-thumb {
  background: #88888842;
  border-radius: 10px;
  border: 5px solid #fff;
}

.markdown-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #f9f9f9;
}

/* Style for main headings */
.markdown-container h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #222;
  text-align: center;
}

/* Style for subheadings */
.markdown-container h2,
.markdown-container h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: #444;
}

/* Style for paragraphs */
.markdown-container p {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

/* Style for bullet points */
.markdown-container ul {
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 20px;
}

.markdown-container ul li {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

/* Style for horizontal rules */
.markdown-container hr {
  border: 0;
  height: 1px;
  background: #ddd;
  margin: 20px 0;
}

/* Style for emphasis */
.markdown-container em {
  color: #2e2e2e;
}

/* Style for links */
.markdown-container a {
  color: #007bff;
  text-decoration: none;
}

.markdown-container a:hover {
  text-decoration: underline;
}

/* Style for blockquotes (optional) */
.markdown-container blockquote {
  border-left: 4px solid #ddd;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  color: #666;
  background: #f8f8f8;
}
